<header class="task-bar">
  <section class="task-bar-section section-start">
    <span class="task-bar-title">Dashboard</span>
  </section>
  <section class="task-bar-section section-end">
  </section>
</header>

<div class="task-container">
  <ng-container *ngIf="!isUpdateMode else update">
    <div class="task-list border-line">
      <div class="task-list-column">
        First Name
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.firstname}}</b>
      </div>
    </div>
    <div class="task-list border-line">
      <div class="task-list-column">
        Last Name
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.lastname}}</b>
      </div>
    </div>
    <div class="task-list border-line">
      <div class="task-list-column">
        Username
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.username}}</b>
      </div>
    </div>
    <div class="task-list border-line">
      <div class="task-list-column">
        Email
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.email}}</b>
      </div>
    </div>
    <div class="task-list border-line">
      <div class="task-list-column">
        Country
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.country}}</b>
      </div>
    </div>
    <div class="task-list border-line">
      <div class="task-list-column">
        Bio
      </div>
      <div class="task-list-column">
        <b>{{userDetails?.bio}}</b>
      </div>
    </div>
    <div class="task-list">
      <button class="task-button" (click)="onUpdateToggle()">Update</button>
    </div>
  </ng-container>
</div>

<ng-template #update>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="task-list">
      <div class="task-list-column form-spacing">
        First Name
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstname" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-column form-spacing">
        Last Name
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastname" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-column form-spacing">
        Username
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>Username</label>
          <input type="text" formControlName="username" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-column form-spacing">
        Email
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-column form-spacing">
        Country
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>Country</label>
          <input type="text" formControlName="country" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="task-list-column form-spacing">
        Bio
      </div>
      <div class="task-list-column">
        <div class="task-form-group">
          <label>Bio</label>
          <input type="text" formControlName="bio" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div class="task-list">
      <button type="submit" class="task-button">Save</button>
    </div>
  </form>
</ng-template>